<h1>What is 「MICHIKUSA」 ?</h1>

<div class="freetime">
  <%= image_tag("freetime.png") %>
  <h2>基本的には旅行に行く時に発生する暇時間に使います。</h2>
</div>

<div class="load-map">
  <h2>How to Use</h2>
  <div class="phase">
    <div class="phase1">
      <br>
      <p>旅行の隙間時間が発生します。</p>
      <br>
      <br>
      <%= image_tag("phase1.png", :size => "80x80") %>
    </div>
    <%= image_tag("arrow.png", :size => "80x80", :class => "arrow") %>
    <div class="phase2">
     <p>MICHIKUSAを使用します。</p>
     <p>MICHIKUSAは出発駅〜目的駅までの</p>
     <p>経路駅の近くにある観光地をレコメンドします。</p>
     <%= image_tag("phase2.png", :size => "80x80") %>
    </div>
    <%= image_tag("arrow.png", :size => "80x80", :class => "arrow") %>
    <div class="phase3">
     <br>
     <p>観光地で楽しみます。</p>
     <p>いずれはクーポンも使用できるようにします。</p>
     <%= image_tag("phase3.png", :size => "80x80") %>
    </div>
  </div>
</div>

<div class="feature-container">
  <h1>Features</h1>
  <div class="feature">
    <div class="map">
      <%= image_tag("map.png", :size => "128x128") %>
      <h2>観光地スポット表示</h2>

    </div>
    <div class="sns">
      <%= image_tag("sns.png", :size => "128x128") %>
      <h2>SNSによる口コミ</h2>
    </div>
    <div class="machine">
      <%= image_tag("machine.png", :size => "128x128") %>
      <h2>機械学習による評価</h2>
    </div>
  </div>
</div>
