<div class="index">
  <div class="from-to-label">
    <label id="from" data-from-name='<%= @from_station.name %>' data-from-lat='<%= @from_station.lat %>' data-from-lng='<%= @from_station.lng %>'>
      <%= @from_station.name %>駅</label>
      <label>→<img src="/train.png" width="500" height="107">→</label>
    <label id="to" data-to-name='<%= @to_station.name %>' data-to-lat='<%= @to_station.lat %>' data-to-lng='<%= @to_station.lng %>'>
      <%= @to_station.name %>駅</label>
  </div>
  <div class="map-spots">
    <%= render :partial => "map" %>
    <div class="spots">
      <span class="spots-title">観光地一覧</span>
      <% @between_stations.each do |station| %>
        <% station.spots.each do |spot| %>
          <a href="/spots/<%= spot.id %>">
            <div class="spot" data-spot-name='<%= spot.name %>' data-spot-lat='<%= spot.lat %>' data-spot-lng='<%= spot.lng %>' >
              <%= image_tag("#{spot.image_url}", :size => "200x200", :alt => "アイコン") %>
              <div class="spot-title">
                <h1><%= spot.name %></h1>
                <div class="close-station">
                  <label>最寄駅</label><%= station.name %>駅
                </div>
                <br>
                <%= spot.description %>
                <br><br>
                <%= link_to "#{spot.name}公式サイトへ", "#{spot.link_url}", :class => "link_url" %>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyCC7i28UNJRRqIk6gmtkWcFrgGeg4ZfBJI&callback=initMap" async defer></script>

<script type="text/javascript">
$(function() {
  // マウスオーバー
  $('.spot').hover(function() {
    $(this).css('background', "#c6dbef");
  },function(){
    $(this).css('background', "#d6ebff");
  });
});

var markerName = [];
var markerLat = [];
var markerLng = [];
var fromName = $('#from').data('from-name');
var fromLat = $('#from').data('from-lat');
var fromLng = $('#from').data('from-lng');
var toName = $('#to').data('to-name');
var toLat = $('#to').data('to-lat');
var toLng = $('#to').data('to-lng');
$('.spot').each(function(index, element){
  markerName.push($(element).data('spot-name'));
  markerLat.push($(element).data('spot-lat'));
  markerLng.push($(element).data('spot-lng'));
  console.log(markerLat);
  console.log(markerLng);
});

var map;
var tokyo = {lat: 35.681167, lng: 139.767052};
var fromMarker;
var toMarker;
var marker = [];
var infoWindow = [];

function initMap() {
  'use strict';
    var target = document.getElementById('map');


    map = new google.maps.Map(target, {
      center: {lat: markerLat[0], lng: markerLng[0]},
      zoom: 13,
      disableDefaultUI: true
     });

    fromMarker = new google.maps.Marker({
      position: {lat: fromLat, lng: fromLng},
      map: map,
      icon: {
        url: 'start.png',
        scaledSize: new google.maps.Size(40, 40)
      },
    });

    toMarker = new google.maps.Marker({
      position: {lat: toLat, lng: toLng},
      map: map,
      icon: {
        url: 'goal.png',
        scaledSize: new google.maps.Size(40, 40)
      },
    });

    for (var i = 0; i < markerName.length; i++) {
      marker[i] = new google.maps.Marker({ // マーカーの追加
      position: {lat: markerLat[i], lng: markerLng[i]}, // マーカーを立てる位置を指定
      map: map, // マーカーを立てる地図を指定
      icon: {
        url: 'icon.png',
        scaledSize: new google.maps.Size(48, 48)
      },
      animation: google.maps.Animation.BOUNCE
   });

   infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
      content: '<div class="sample">' + markerName[i] + '</div>' // 吹き出しに表示する内容
    });
    infoWindow[i].open(map, marker[i]); // 吹き出しの表示
    markerEvent(i); // マーカーにクリックイベントを追加
  }
}

// マーカーにクリックイベントを追加
function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
  });
}

</script>
