<div class="main top-main">
  <div class="top-message">
    <div class="top-title">
      <h1>MICHIKUSA<%= image_tag("michikusa.png", :size => "90x90") %></h1>
      <p>あなたの知らない日本へようこそ</p>
    </div>
    <div class="search_form">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= render :partial => "search_form" %>
    </div>
  </div>
</div>


<div class="app-discription">
  <%= render :partial => "about" %>
</div>
