<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        MICHIKUSA
        <%= image_tag("michikusa.png", :size => "28x28") %>

      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/index">観光地一覧</a></li>
        </ul>

        <%= form_tag({ controller: :michikusa, action: :index}, :class => "navbar-form navbar-left") do %>
          <label for="from_station" class="from-label">From</label>
          <%= text_field_tag :from_station, '' ,placeholder: "東京" %>
          <label for="to_station" class="to-label">To</label>
          <%= text_field_tag :to_station, '' , placeholder: "品川"%>
        <%= submit_tag 'GO!!', class: "btn btn-success" %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
